<launch>
    <include file="$(find robot)/launch/robot.launch"/>

    <!-- 设置地图的配置文件 -->
    <arg name="map" default="testhome_map.yaml" />
    <!-- 运行地图服务器，并且加载设置的地图-->
    <node name="map_server" pkg="map_server" type="map_server" args="$(find manual_nav)/map/$(arg map)"/>
    <!-- 启动AMCL节点 -->
    <include file="$(find manual_nav)/launch/amcl.launch" />
    <!-- 运行move_base节点 -->
    <include file="$(find manual_nav)/launch/move.launch" />
    
    <node pkg="joint_state_publisher" name="joint_state_publisher" type="joint_state_publisher" />
    <node pkg="robot_state_publisher" name="robot_state_publisher" type="robot_state_publisher" />
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find manual_nav)/rviz/nav.rviz" />
</launch>
